MaisVendidos Ecommerce.json
{
  "name": "MaisVendidos Ecommerce",
  "nodes": [
    {
      "parameters": {
        "sendTo": "samuelobt@gmail.com, andrezaaslopes2@gmail.com",
        "subject": "🔥 Radar de Vendas: Conheça os produtos mais quentes do Mercado Livre hoje",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; background-color: #f9f9f9; padding: 20px; border-radius: 10px;\">\n  <h2 style=\"color: #2c3e50; border-bottom: 3px solid #ffe600; padding-bottom: 10px; text-align: center;\">🔥 Top 3 mais vendidos da semana</h2>\n  <p style=\"text-align: center; color: #7f8c8d;\">Análise de mercado atualizada em  {{ $json.data[0].Data }} </p>\n  \n  {{ $json.data.map(item => `\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: white; border: 1px solid #eee; border-radius: 12px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n      <tr>\n        <td width=\"100\" style=\"padding: 15px; text-align: center; vertical-align: middle;\">\n          <img src=\"${item.Foto}\" width=\"80\" style=\"border-radius: 8px; display: block; margin: auto; object-fit: contain;\">\n        </td>\n        \n        <td style=\"padding: 15px; vertical-align: top;\">\n          <div style=\"background: #ffe600; color: #333; display: inline-block; padding: 2px 8px; border-radius: 4px; font-weight: bold; font-size: 11px; margin-bottom: 5px;\">#${item.Ranking} no Ranking</div>\n          <br>\n          <strong style=\"font-size: 16px; color: #333; display: block; margin-top: 5px; line-height: 1.3;\">${item.Produto}</strong>\n          <span style=\"color: #7f8c8d; font-size: 13px;\">Categoria: ${item.Seção}</span>\n          \n          <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top: 15px;\">\n            <tr>\n              <td style=\"vertical-align: middle;\">\n                <span style=\"color: #27ae60; font-weight: bold; font-size: 18px;\">\n                   R$ ${Number(item.Preço).toFixed(2).replace('.', ',')}\n                </span>\n              </td>\n              <td align=\"right\" style=\"vertical-align: middle;\">\n                <a href=\"${item.Link}\" style=\"background-color: #3483fa; color: white; text-decoration: none; padding: 6px 15px; border-radius: 6px; font-size: 13px; font-weight: bold; display: inline-block;\">Ver Produto</a>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  `).join('') }}\n\n  <div style=\"text-align: center; margin-top: 25px; border-top: 1px dashed #ccc; padding-top: 20px;\">\n    <a href=\"https://airtable.com/apphs5lAyrbhYIF1R/shrXy5oSuqnXoZ4WO\" style=\"color: #3483fa; text-decoration: none; font-weight: bold;\">📊 Acessar Base Completa no Airtable</a>\n    <p style=\"font-size: 11px; color: #95a5a6; margin-top: 15px;\">Este é um relatório automático gerado via n8n & Airtable.</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1264,
        624
      ],
      "id": "d5108f18-e30d-45c3-84a5-a4ecf1cd9b25",
      "name": "Send a message",
      "webhookId": "98a92b05-462f-4324-8974-c985d6313637",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfZ47XQtjemP0EOz",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        32
      ],
      "id": "3283bca0-5eda-4143-a272-972b3cd19dbc",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://www.mercadolivre.com.br/mais-vendidos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/04.1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        32
      ],
      "id": "c4e1ce7a-edb9-4c9c-a3b6-139b26936bdd",
      "name": "Mercado libre",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;\nconst secoesMap = {}; // Balde para agrupar produtos por seção\n\nconst regexTitulo = /\"title\":\"(.*?)\"/g;\nlet match;\n\nwhile ((match = regexTitulo.exec(data)) !== null) {\n    const titulo = match[1];\n    const inicio = Math.max(0, match.index - 500);\n    const fim = Math.min(data.length, match.index + 1200);\n    const pedacoTexto = data.substring(inicio, fim);\n\n    const matchLink = pedacoTexto.match(/\"permalink\":\"(.*?)\"/);\n    if (!matchLink) continue;\n\n    const linkFinal = matchLink[1].replace(/\\\\u002F/g, '/');\n\n    // FILTRO: Ignora links de menus e listas de \"mais-vendidos\" (os que geram o \"Geral\")\n    if (linkFinal.includes('/mais-vendidos/') || titulo.includes(\"Preferências de cookies\")) continue;\n\n    // Identifica a Seção via campanha\n    let secaoIdentificada = \"\";\n    const matchCampanha = linkFinal.match(/c_campaign=([^&]+)/);\n    \n    if (matchCampanha) {\n        secaoIdentificada = matchCampanha[1].replace(/-/g, ' ');\n        secaoIdentificada = secaoIdentificada.charAt(0).toUpperCase() + secaoIdentificada.slice(1);\n    } else {\n        // Se não tem campanha no link, provavelmente é um link institucional ou menu\n        continue; \n    }\n\n    if (!secoesMap[secaoIdentificada]) {\n        secoesMap[secaoIdentificada] = [];\n    }\n\n    // Limite de 10 por seção\n    if (secoesMap[secaoIdentificada].length >= 10) continue;\n\n    const matchPreco = pedacoTexto.match(/\"price\":([\\d.]+)/);\n    const matchFoto = pedacoTexto.match(/\"thumbnail\":\"(.*?)\"/);\n    \n    let precoFormatado = matchPreco ? \n        parseFloat(matchPreco[1]).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : \n        \"Sob consulta\";\n        \n    const fotoFinal = matchFoto ? matchFoto[1].replace(/\\\\u002F/g, '/') : \"Sem foto\";\n\n    secoesMap[secaoIdentificada].push({\n        secao: secaoIdentificada,\n        produto: titulo,\n        preco: precoFormatado,\n        foto: fotoFinal,\n        link: linkFinal\n    });\n}\n\n// ORGANIZAÇÃO FINAL\nconst resultadosFinais = [];\n// Corrigido de 'em' para 'in'\nfor (const secao in secoesMap) {\n    secoesMap[secao].forEach((item, index) => {\n        resultadosFinais.push({\n            json: {\n                ranking_na_secao: index + 1,\n                ...item\n            }\n        });\n    });\n}\n\nreturn resultadosFinais;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        32
      ],
      "id": "a0483f5b-8607-4134-bb8b-3fcefbe76b03",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.ranking_na_secao }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.secao }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json.preco.replace(/[^\\d,]/g, '').replace(',', '.') }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        32
      ],
      "id": "fe15d005-f521-4001-bd35-6b4c0d422695",
      "name": "MercadoLivre",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphs5lAyrbhYIF1R",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R"
        },
        "table": {
          "__rl": true,
          "value": "tblJCs3Ozj1PaUyRd",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R/tblJCs3Ozj1PaUyRd"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Alteração de Preço?": false,
            "Variação de Ranking?": false,
            "Ranking": 0,
            "Preço": 0,
            "Semana": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Ranking",
              "displayName": "Ranking",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Seção",
              "displayName": "Seção",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "(Preencher automaticamente conforme os dados de importação)",
                  "value": "(Preencher automaticamente conforme os dados de importação)"
                },
                {
                  "name": "Eletrônicos",
                  "value": "Eletrônicos"
                },
                {
                  "name": "Informática",
                  "value": "Informática"
                },
                {
                  "name": "Áudio",
                  "value": "Áudio"
                },
                {
                  "name": "Eletrodomésticos",
                  "value": "Eletrodomésticos"
                },
                {
                  "name": "Eletroportáteis",
                  "value": "Eletroportáteis"
                },
                {
                  "name": "Games",
                  "value": "Games"
                },
                {
                  "name": "Móveis",
                  "value": "Móveis"
                },
                {
                  "name": "Wearables",
                  "value": "Wearables"
                },
                {
                  "name": "Esportes",
                  "value": "Esportes"
                },
                {
                  "name": "Eletrodomesticos",
                  "value": "Eletrodomesticos"
                },
                {
                  "name": "Informatica",
                  "value": "Informatica"
                },
                {
                  "name": "Calcados roupas e bolsas",
                  "value": "Calcados roupas e bolsas"
                },
                {
                  "name": "Esportes e fitness",
                  "value": "Esportes e fitness"
                },
                {
                  "name": "Celulares e telefones",
                  "value": "Celulares e telefones"
                },
                {
                  "name": "Eletronicos audio e video",
                  "value": "Eletronicos audio e video"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preço",
              "displayName": "Preço",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Foto",
              "displayName": "Foto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Loja",
              "displayName": "Loja",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Semana",
              "displayName": "Semana",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fonte de Dados",
              "displayName": "Fonte de Dados",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status do Produto",
              "displayName": "Status do Produto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ativo",
                  "value": "Ativo"
                },
                {
                  "name": "Inativo",
                  "value": "Inativo"
                },
                {
                  "name": "Disponível",
                  "value": "Disponível"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Alteração de Preço?",
              "displayName": "Alteração de Preço?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Variação de Ranking?",
              "displayName": "Variação de Ranking?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From field: Produto",
              "displayName": "From field: Produto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produto copy",
              "displayName": "Produto copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total de Aparições",
              "displayName": "Total de Aparições",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "From field: Produto 2",
              "displayName": "From field: Produto 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From field: Produtos Consolidados",
              "displayName": "From field: Produtos Consolidados",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1136,
        32
      ],
      "id": "388cf598-a15b-4556-8e58-05b9d0dcf1bc",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KIo5DB6RwXFTqg30",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        624
      ],
      "id": "10026f22-c5f3-45e7-8ffe-6c1adcbf97d0",
      "name": "Aggregate",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.amazon.com.br/bestsellers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/04.1"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\"Chromium\";v=\"122\", \"Not(A:Brand\";v=\"24\", \"Google Chrome\";v=\"122\""
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "Maps"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "none"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        288
      ],
      "id": "2fbaef63-dddb-44fa-a543-3ad52c383841",
      "name": "Amazon",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.ranking_na_secao }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.secao }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json.preco.replace(/[^\\d,]/g, '').replace(',', '.') }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        288
      ],
      "id": "2d283165-bb27-4121-a8e0-42bb00830dc5",
      "name": "Amazon1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;\nconst secoesMap = {}; // Balde para agrupar produtos por seção\n\nconst regexTitulo = /\"title\":\"(.*?)\"/g;\nlet match;\n\nwhile ((match = regexTitulo.exec(data)) !== null) {\n    const titulo = match[1];\n    const inicio = Math.max(0, match.index - 500);\n    const fim = Math.min(data.length, match.index + 1200);\n    const pedacoTexto = data.substring(inicio, fim);\n\n    const matchLink = pedacoTexto.match(/\"permalink\":\"(.*?)\"/);\n    if (!matchLink) continue;\n\n    const linkFinal = matchLink[1].replace(/\\\\u002F/g, '/');\n\n    // FILTRO: Ignora links de menus e listas de \"mais-vendidos\" (os que geram o \"Geral\")\n    if (linkFinal.includes('/mais-vendidos/') || titulo.includes(\"Preferências de cookies\")) continue;\n\n    // Identifica a Seção via campanha\n    let secaoIdentificada = \"\";\n    const matchCampanha = linkFinal.match(/c_campaign=([^&]+)/);\n    \n    if (matchCampanha) {\n        secaoIdentificada = matchCampanha[1].replace(/-/g, ' ');\n        secaoIdentificada = secaoIdentificada.charAt(0).toUpperCase() + secaoIdentificada.slice(1);\n    } else {\n        // Se não tem campanha no link, provavelmente é um link institucional ou menu\n        continue; \n    }\n\n    if (!secoesMap[secaoIdentificada]) {\n        secoesMap[secaoIdentificada] = [];\n    }\n\n    // Limite de 10 por seção\n    if (secoesMap[secaoIdentificada].length >= 10) continue;\n\n    const matchPreco = pedacoTexto.match(/\"price\":([\\d.]+)/);\n    const matchFoto = pedacoTexto.match(/\"thumbnail\":\"(.*?)\"/);\n    \n    let precoFormatado = matchPreco ? \n        parseFloat(matchPreco[1]).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : \n        \"Sob consulta\";\n        \n    const fotoFinal = matchFoto ? matchFoto[1].replace(/\\\\u002F/g, '/') : \"Sem foto\";\n\n    secoesMap[secaoIdentificada].push({\n        secao: secaoIdentificada,\n        produto: titulo,\n        preco: precoFormatado,\n        foto: fotoFinal,\n        link: linkFinal\n    });\n}\n\n// ORGANIZAÇÃO FINAL\nconst resultadosFinais = [];\n// Corrigido de 'em' para 'in'\nfor (const secao in secoesMap) {\n    secoesMap[secao].forEach((item, index) => {\n        resultadosFinais.push({\n            json: {\n                ranking_na_secao: index + 1,\n                ...item\n            }\n        });\n    });\n}\n\nreturn resultadosFinais;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        528
      ],
      "id": "abe876fa-2100-4063-8a5a-6f233a43b1af",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.ranking_na_secao }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.secao }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json.preco.replace(/[^\\d,]/g, '').replace(',', '.') }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        528
      ],
      "id": "15eb4aca-6301-4d6d-9f91-261ad7b82eae",
      "name": "Shopee",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://shopee.com.br/api/v4/recommend/recommend?bundle=top_products_homepage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        528
      ],
      "id": "25eb0b80-1c23-4e57-aec0-b54f5cb1e69d",
      "name": "Shopee1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Recebe o HTML bruto do nó anterior\nconst html = $json[\"data\"]; // ajuste conforme o campo que contém o HTML\n\n// Função auxiliar para extrair dados com regex\nfunction extractAll(regex, text) {\n  const results = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    results.push(match[1].trim());\n  }\n  return results;\n}\n\n// Extrair títulos dos produtos\nconst titulos = extractAll(/<span class=\"a-size-medium.*?\">(.*?)<\\/span>/g, html);\n\n// Extrair preços\nconst precos = extractAll(/<span class=\"p13n-sc-price\">(.*?)<\\/span>/g, html);\n\n// Extrair links\nconst links = extractAll(/<a class=\"a-link-normal\" href=\"(.*?)\"/g, html)\n  .map(l => \"https://www.amazon.com.br\" + l);\n\n// Montar lista de produtos\nconst produtos = titulos.map((t, i) => ({\n  titulo: t,\n  preco: precos[i] || null,\n  link: links[i] || null\n}));\n\nreturn [{ produtos }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        288
      ],
      "id": "1f1de603-1233-4e42-8675-f6fea111c9e3",
      "name": "Code in JavaScript1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        656,
        32
      ],
      "id": "8a274893-3a9d-411e-8242-fb7b54aca5c4",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de5c0a87-6273-4843-a348-dffadbcf8812",
              "name": "=Ranking",
              "value": "={{ $json.Ranking }}",
              "type": "number"
            },
            {
              "id": "49a650d0-718f-4a0e-9516-716a76cd6687",
              "name": "Seção",
              "value": "={{ $json.Seção }}",
              "type": "string"
            },
            {
              "id": "b425353c-e011-4e4d-822b-e90641385d8d",
              "name": "Produto",
              "value": "={{ $json.Produto }}",
              "type": "string"
            },
            {
              "id": "8e82484e-6b66-4df7-a3b9-75fcf125fff6",
              "name": "Preço",
              "value": "={{ $json['Preço'] }}",
              "type": "string"
            },
            {
              "id": "bfe4bb6c-8e1e-4fd0-937b-7d7c13ca314d",
              "name": "Foto",
              "value": "={{ $json.Foto }}",
              "type": "string"
            },
            {
              "id": "d4d95b76-0207-4390-a0c0-b15f94610ee1",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "d9b4b2b6-fac7-49ad-b488-4eb9e29790d2",
              "name": "Loja",
              "value": "Mercado Livre",
              "type": "string"
            },
            {
              "id": "99eee079-c9c0-4994-acb2-8758f5241ea4",
              "name": "Data",
              "value": "={{ $now.format('LL/dd/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        32
      ],
      "id": "e7c02ba9-b8b2-4f1f-aad1-478624844703",
      "name": "MercadoLivre1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro-lista",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        -368
      ],
      "id": "1fe63448-d792-423c-9b25-69ce179e9037",
      "name": "Webhook",
      "webhookId": "774b8288-55f3-43b1-a75d-d63705a36f57"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "10743d5f-3566-429d-a31a-7681a4b4b9bb",
              "leftValue": "={{ $json.Ranking }}",
              "rightValue": "=3",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        720,
        624
      ],
      "id": "3f8db510-323d-4e9f-8be2-3723a840c29d",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphs5lAyrbhYIF1R",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R"
        },
        "table": {
          "__rl": true,
          "value": "tblJCs3Ozj1PaUyRd",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R/tblJCs3Ozj1PaUyRd"
        },
        "filterByFormula": "AND({Ranking} <= 3, IS_SAME({Data}, TODAY()))",
        "options": {
          "view": {
            "__rl": true,
            "value": "viwlCE8OQ9M5K9HHk",
            "mode": "list",
            "cachedResultName": "Base",
            "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R/tblJCs3Ozj1PaUyRd/viwlCE8OQ9M5K9HHk"
          }
        },
        "sort": {
          "property": [
            {
              "field": "Ranking"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        -368
      ],
      "id": "924c6e65-e4d6-45c8-af95-4cc1ada6b115",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "KIo5DB6RwXFTqg30",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1392,
        -368
      ],
      "id": "6a0ad644-4869-43af-9134-de4b2ab888e8",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Seção"
            },
            {
              "fieldName": "Ranking"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1216,
        -368
      ],
      "id": "85a8e0af-9967-4a08-9545-0894d467a7de",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphs5lAyrbhYIF1R",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R"
        },
        "table": {
          "__rl": true,
          "value": "tblJCs3Ozj1PaUyRd",
          "mode": "list",
          "cachedResultName": "Ranking Mercado Livre",
          "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R/tblJCs3Ozj1PaUyRd"
        },
        "filterByFormula": "AND({Ranking} <= 3, IS_SAME({Data}, TODAY()))",
        "options": {
          "view": {
            "__rl": true,
            "value": "viwlCE8OQ9M5K9HHk",
            "mode": "list",
            "cachedResultName": "Base",
            "cachedResultUrl": "https://airtable.com/apphs5lAyrbhYIF1R/tblJCs3Ozj1PaUyRd/viwlCE8OQ9M5K9HHk"
          }
        },
        "sort": {
          "property": [
            {
              "field": "Ranking"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -224,
        -400
      ],
      "id": "30bf5316-9fab-4a1f-a62d-ad18976a6992",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KIo5DB6RwXFTqg30",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        160,
        -400
      ],
      "id": "542dda61-893e-4f47-860c-8e277f1f42ad",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Seção"
            },
            {
              "fieldName": "Ranking"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -32,
        -400
      ],
      "id": "7fd2c4ae-ec6d-410c-bd7f-21c44202cc0b",
      "name": "Sort1"
    },
    {
      "parameters": {
        "content": "## Lista de Trasmissão\n\n### Emails participantes Tred Hunter, vão receber a lista diariamente",
        "height": 304,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -544
      ],
      "typeVersion": 1,
      "id": "0c3c1a36-b191-4429-94ee-0cd7f454a7c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "🚀 Bem-vindo ao ML Trend Hunter",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; background-color: #f9f9f9; padding: 20px; border-radius: 10px;\">\n  <h2 style=\"color: #2c3e50; border-bottom: 3px solid #ffe600; padding-bottom: 10px; text-align: center;\">🔥 Top 3 mais vendidos da semana</h2>\n  <p style=\"text-align: center; color: #7f8c8d;\">Análise de mercado atualizada em  {{ DateTime.fromISO($json.data[0].Data).toFormat('dd/MM/yyyy') }} </p>\n  \n  {{ $json.data.map(item => `\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: white; border: 1px solid #eee; border-radius: 12px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n      <tr>\n        <td width=\"100\" style=\"padding: 15px; text-align: center; vertical-align: middle;\">\n          <img src=\"${item.Foto}\" width=\"80\" style=\"border-radius: 8px; display: block; margin: auto; object-fit: contain;\">\n        </td>\n        \n        <td style=\"padding: 15px; vertical-align: top;\">\n          <div style=\"background: #ffe600; color: #333; display: inline-block; padding: 2px 8px; border-radius: 4px; font-weight: bold; font-size: 11px; margin-bottom: 5px;\">#${item.Ranking} no Ranking</div>\n          <br>\n          <strong style=\"font-size: 16px; color: #333; display: block; margin-top: 5px; line-height: 1.3;\">${item.titulo}</strong>\n          <span style=\"color: #7f8c8d; font-size: 13px;\">Categoria: ${item.Seção}</span>\n          \n          <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top: 15px;\">\n            <tr>\n              <td style=\"vertical-align: middle;\">\n                <span style=\"color: #27ae60; font-weight: bold; font-size: 18px;\">\n                   R$ ${Number(item.Preço).toFixed(2).replace('.', ',')}\n                </span>\n              </td>\n              <td align=\"right\" style=\"vertical-align: middle;\">\n                <a href=\"${item.Link}\" style=\"background-color: #3483fa; color: white; text-decoration: none; padding: 6px 15px; border-radius: 6px; font-size: 13px; font-weight: bold; display: inline-block;\">Ver Produto</a>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  `).join('') }}\n\n  <div style=\"text-align: center; margin-top: 25px; border-top: 1px dashed #ccc; padding-top: 20px;\">\n    <a href=\"https://samuelolavo.github.io/MlHunterTrend/plano.html\" style=\"color: #3483fa; text-decoration: none; font-weight: bold;\">📊 Acessar Base Completa</a>\n    <p style=\"font-size: 11px; color: #95a5a6; margin-top: 15px;\">Este é um relatório automático gerado via Trend Hunter.</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        -368
      ],
      "id": "64580e50-648f-4b6b-a3c6-dd17512cea80",
      "name": "Boas Vindas",
      "webhookId": "98a92b05-462f-4324-8974-c985d6313637",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfZ47XQtjemP0EOz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=samuelobt@gmail.com, andrezaaslopes2@gmail.com",
        "subject": "🔥 Radar de Vendas: Conheça os produtos mais quentes do Mercado Livre hoje",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; background-color: #f9f9f9; padding: 20px; border-radius: 10px;\">\n  <h2 style=\"color: #2c3e50; border-bottom: 3px solid #ffe600; padding-bottom: 10px; text-align: center;\">🔥 Top 3 mais vendidos da semana</h2>\n  <p style=\"text-align: center; color: #7f8c8d;\">Análise de mercado atualizada em  {{ DateTime.fromISO($json.data[0].Data).toFormat('dd/MM/yyyy') }} </p>\n  \n  {{ $json.data.map(item => `\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: white; border: 1px solid #eee; border-radius: 12px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n      <tr>\n        <td width=\"100\" style=\"padding: 15px; text-align: center; vertical-align: middle;\">\n          <img src=\"${item.Foto}\" width=\"80\" style=\"border-radius: 8px; display: block; margin: auto; object-fit: contain;\">\n        </td>\n        \n        <td style=\"padding: 15px; vertical-align: top;\">\n          <div style=\"background: #ffe600; color: #333; display: inline-block; padding: 2px 8px; border-radius: 4px; font-weight: bold; font-size: 11px; margin-bottom: 5px;\">#${item.Ranking} no Ranking</div>\n          <br>\n          <strong style=\"font-size: 16px; color: #333; display: block; margin-top: 5px; line-height: 1.3;\">${item.titulo}</strong>\n          <span style=\"color: #7f8c8d; font-size: 13px;\">Categoria: ${item.Seção}</span>\n          \n          <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top: 15px;\">\n            <tr>\n              <td style=\"vertical-align: middle;\">\n                <span style=\"color: #27ae60; font-weight: bold; font-size: 18px;\">\n                   R$ ${Number(item.Preço).toFixed(2).replace('.', ',')}\n                </span>\n              </td>\n              <td align=\"right\" style=\"vertical-align: middle;\">\n                <a href=\"${item.Link}\" style=\"background-color: #3483fa; color: white; text-decoration: none; padding: 6px 15px; border-radius: 6px; font-size: 13px; font-weight: bold; display: inline-block;\">Ver Produto</a>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  `).join('') }}\n\n  <div style=\"text-align: center; margin-top: 25px; border-top: 1px dashed #ccc; padding-top: 20px;\">\n    <a href=\"https://airtable.com/apphs5lAyrbhYIF1R/shrXy5oSuqnXoZ4WO\" style=\"color: #3483fa; text-decoration: none; font-weight: bold;\">📊 Acessar Base Completa no Airtable</a>\n    <p style=\"font-size: 11px; color: #95a5a6; margin-top: 15px;\">Este é um relatório automático gerado via n8n & Airtable.</p>\n  </div>\n</div>\n<div style=\"font-family: Arial, sans-serif; color: #333;\">\n  <h2>Olá! Recebemos seu pedido para o Plano Prime.</h2>\n  <p>Para liberar seu acesso ao dashboard e à lista diária completa, realize o pagamento via PIX:</p>\n  \n  <div style=\"background: #f4f4f4; padding: 20px; border-radius: 10px; border-left: 5px solid #d4ff3f;\">\n    <strong>Valor:</strong> R$ 47,00<br>\n    <strong>Chave PIX (E-mail):</strong> sua-chave-aqui@email.com<br>\n    <strong>Beneficiário:</strong> Samuel Olavo\n  </div>\n\n  <p style=\"margin-top: 20px;\">\n    <strong>⚠️ Importante:</strong> Após pagar, responda a este e-mail com o comprovante para que nosso sistema libere seu acesso imediatamente.\n  </p>\n  <p>Dúvidas? Estamos à disposição.</p>\n</div>",
        "options": {
          "appendAttribution": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        352,
        -400
      ],
      "id": "5aa3ba15-9be8-42eb-87c8-bc0f36bd54c3",
      "name": "Lista Prime",
      "webhookId": "98a92b05-462f-4324-8974-c985d6313637",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfZ47XQtjemP0EOz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -400
      ],
      "id": "fea3f99b-5d32-42a3-8c30-2df2e9475a2a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Email Teste\n\n### Emails De boas vindas vindo da pagina web, Teste Gratis vão receber uma vez so.",
        "height": 352,
        "width": 1072,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -560
      ],
      "typeVersion": 1,
      "id": "cde0b263-ed81-4816-bc3f-ba8ce6f0ce44",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Busca dos produtos ML\n\n### Raspagem do site ML dos produtos mais vendidos, salva do o Airtable.\n",
        "height": 320,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -112
      ],
      "typeVersion": 1,
      "id": "150583fe-af5a-4f09-b05c-3b1e75cf0be6",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Mercado libre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado libre": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "MercadoLivre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MercadoLivre": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amazon": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Shopee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopee1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Amazon1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "MercadoLivre1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MercadoLivre1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Boas Vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Lista Prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bc7fe3fe-cd7c-409d-8d42-19af46fe0e48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e643c61781c93259041bbaff542c7a95926c7cf9887e347273fa29e70238fd32"
  },
  "id": "tBj2CnmKPW0UEDpA",
  "tags": []
}